# Environment Schema Configuration Array
SCHEMA=http
DEFAULT_HOST=http://localhost:3000
FORCED_API_BASE_URL=
API_BASE_URL=http://localhost:8080/api

# Database Logic
DATABASE_URL=postgres://root:password@localhost:5432/taskbid

# Authentication Signatures
JWT_SECRET=supersecretjwtopaque
JWT_REFRESH_SECRET=refreshtokemsupersecrethash
JWT_EXPIRATION="15m"
JWT_REFRESH_EXPIRATION="7d"

PORT=8080
